
@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.sec_nav{
  margin-left: 10.5rem;
}
.sec_nav a{
  color: white;
}
.nav_sec{
  background-color: #209D00;
}
#Faculty_text{
  font-size: 2.2rem;
  margin-left: 8rem;
}
#Button_Next{
  direction: rtl;

}
table th{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top:.5rem;
}
table .td-left {
  text-align: center;
}
table .Range{
  padding-left: 20rem;
  padding-right: 20rem;
}


/* 

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
